@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.js';

body {
  font-family: 'Outfit';
}

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-evenly {
    @apply flex justify-evenly items-center;
  }

  .flex-around {
    @apply flex justify-around items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }
}

@layer utilities {
  /* Button */
  .button-primary {
    @apply bg-primary text-base font-medium text-white rounded-md;
  }

  .button-secondary {
    @apply bg-[#FAF7FF] text-base font-medium text-primary border border-primary rounded-md;
  }

  /* Text */
  .text-primary {
    @apply text-black font-normal text-base;
  }

  .text-secondary {
    @apply text-[#606060] font-normal text-base;
  }

  .text-sideNavActive {
    @apply text-white font-normal text-base;
  }

  .text-sideNavInActive {
    @apply text-[#989898] font-normal text-base;
  }

  .text-tableHeader {
    @apply text-[#606060] font-normal text-base;
  }

  .text-tableContents {
    @apply text-black font-normal text-base;
  }

  /* Gradient colors */
  .gradient-purple {
    @apply bg-gradient-to-r from-[#F7EEFF] to-[#D2B6EB];
  }

  .gradient-yellow {
    @apply bg-gradient-to-r from-[#FFF7E7] to-[#F7E0B1];
  }

  .gradient-green {
    @apply bg-gradient-to-r from-[#E6FFEF] to-[#A4ECBE];
  }

  .gradient-profile-avatar {
    @apply bg-gradient-to-r from-[#3D4E81] via-[#5753C9] to-[#6E7FF3];
  }

  .horizontal-gradient {
    @apply bg-gradient-to-r from-[#CDCDCD] to-[#676767];
  }

  .mention-tag {
    @apply bg-yellow text-white px-1 rounded cursor-pointer;
  }
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #7700c7;
  border-radius: 5px;
}

.ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #7700c7 #fff;
}

.ant-table-body::-webkit-scrollbar {
  width: 6px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #e1e6e6;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #7700c7;
}

tr,
td {
  text-transform: capitalize;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #7700c7 #f1f1f1;
  scroll-behavior: smooth;
}

.FSCardscrollable {
  scrollbar-color: #a070d3 #f1f1f1;
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #7700c7;
  border-radius: 4px;
}

.ant-select.ant-select-disabled .ant-select-selector {
  background-color: #f1f1f1 !important;
  color: black !important;
  opacity: 1 !important;
}

th.ant-table-cell {
  white-space: nowrap;
}

.custom-segmented .ant-segmented-item-selected {
  background-color: #7700c7;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.multiple-class .ant-select-selector {
  min-height: 44px;
}

.custom-steps .ant-steps-item-tail {
  transform: scale(1.2);
}
.custom-steps > .ant-steps-item {
  overflow: hidden !important;
}
.custom-steps .ant-steps-item {
  padding-bottom: 20px !important;
}

.custom-steps .ant-steps-item-icon {
  background-color: white;
  border: 3px solid #7700c7;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: white;
  border-color: #7700c7;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: white;
  border-color: #7700c7;
}

.custom-steps .ant-steps-icon {
  display: none;
}

.ant-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #7700c7;
  margin-top: 1px;
}

.ant-tag .ant-tag-close-icon {
  font-size: 1rem;
}

.scrollableWhite {
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollableWhite::-webkit-scrollbar {
  width: 0;
}

.custom-quill-content ol {
  list-style: decimal;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.custom-quill-content ul {
  list-style: disc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.custom-quill-content li {
  margin-bottom: 6px;
}

.custom-quill-content a {
  color: #1a0dab !important;
  text-decoration: underline !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-layout-sider {
  background-color: white;
}
